In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('Global_Education.csv', encoding='latin-1')

In [26]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Countries and areas                      202 non-null    object
 1   Latitude                                 202 non-null    float64
 2   Longitude                                202 non-null    float64
 3   OOSR_Pre0Primary_Age_Male                202 non-null    int64
 4   OOSR_Pre0Primary_Age_Female              202 non-null    int64
 5   OOSR_Primary_Age_Male                    202 non-null    int64
 6   OOSR_Primary_Age_Female                  202 non-null    int64
 7   OOSR_Lower_Secondary_Age_Male            202 non-null    int64
 8   OOSR_Lower_Secondary_Age_Female          202 non-null    int64
 9   OOSR_Upper_Secondary_Age_Male            202 non-null    int64
 10  OOSR_Upper_Secondary_Age_Female          202 non-null    int64
 11  Completion_Rate_Primary_Male             202 non-null    int64
 12  Completion_Rate_Primary_Female           202 non-null    int64
 13  Completion_Rate_Lower_Secondary_Male     202 non-null    int64
 14  Completion_Rate_Lower_Secondary_Female   202 non-null    int64
 15  Completion_Rate_Upper_Secondary_Male     202 non-null    int64
 16  Completion_Rate_Upper_Secondary_Female   202 non-null    int64
 17  Grade_2_3_Proficiency_Reading            202 non-null    int64
 18  Grade_2_3_Proficiency_Math               202 non-null    int64
 19  Primary_End_Proficiency_Reading          202 non-null    int64
 20  Primary_End_Proficiency_Math             202 non-null    int64
 21  Lower_Secondary_End_Proficiency_Reading  202 non-null    int64
 22  Lower_Secondary_End_Proficiency_Math     202 non-null    int64
 23  Youth_15_24_Literacy_Rate_Male           202 non-null    int64
 24  Youth_15_24_Literacy_Rate_Female         202 non-null    int64
 25  Birth_Rate                               202 non-null    float64
 26  Gross_Primary_Education_Enrollment       202 non-null    float64
 27  Gross_Tertiary_Education_Enrollment      202 non-null    float64
 28  Unemployment_Rate                        202 non-null    float64
dtypes: float64(6), int64(22), object(1)
memory usage: 45.9+ KB

,Latitude,Longitude,OOSR_Pre0Primary_Age_Male,OOSR_Pre0Primary_Age_Female,OOSR_Primary_Age_Male,OOSR_Primary_Age_Female,OOSR_Lower_Secondary_Age_Male,OOSR_Lower_Secondary_Age_Female,OOSR_Upper_Secondary_Age_Male,OOSR_Upper_Secondary_Age_Female,...,Primary_End_Proficiency_Reading,Primary_End_Proficiency_Math,Lower_Secondary_End_Proficiency_Reading,Lower_Secondary_End_Proficiency_Math,Youth_15_24_Literacy_Rate_Male,Youth_15_24_Literacy_Rate_Female,Birth_Rate,Gross_Primary_Education_Enrollment,Gross_Tertiary_Education_Enrollment,Unemployment_Rate
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,...,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,25.081422,55.166928,19.658416,19.282178,5.282178,5.569307,8.707921,8.831683,20.292079,19.975248,...,10.717822,10.376238,25.787129,24.450495,35.801980,35.084158,18.914010,94.942574,34.392574,6.000000
std,16.813639,45.976287,25.007604,25.171147,9.396442,10.383092,13.258203,14.724717,21.485592,23.140376,...,24.866101,22.484423,33.181384,31.965467,45.535186,45.249643,10.828184,29.769338,29.978206,5.273136
min,0.023559,0.824782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.685062,18.665678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.355000,97.200000,9.000000,2.302500
50%,21.207861,43.518091,9.000000,7.000000,1.000000,1.000000,2.000000,2.000000,15.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.550000,101.850000,24.850000,4.585000
75%,39.901792,77.684945,31.000000,30.000000,6.000000,6.750000,12.750000,10.750000,32.750000,30.000000,...,0.000000,0.000000,56.750000,50.750000,94.000000,96.750000,27.692500,107.300000,59.975000,8.655000
max,64.963051,178.065032,96.000000,96.000000,58.000000,67.000000,61.000000,70.000000,84.000000,89.000000,...,99.000000,89.000000,89.000000,94.000000,100.000000,100.000000,46.080000,142.500000,136.600000,28.180000

In [27]:
df.dropna(inplace=True)  # Remove rows with any missing values

In [28]:
# df.fillna(0, inplace=True)  # Replace missing values with 0
# df.fillna(df.mean(), inplace=True)  # Replace with mean of the column

In [29]:
df.drop_duplicates(inplace=True) # Remove duplicates

In [30]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_') # Fixing column names

In [31]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   countries_and_areas                      202 non-null    object
 1   latitude                                 202 non-null    float64
 2   longitude                                202 non-null    float64
 3   oosr_pre0primary_age_male                202 non-null    int64
 4   oosr_pre0primary_age_female              202 non-null    int64
 5   oosr_primary_age_male                    202 non-null    int64
 6   oosr_primary_age_female                  202 non-null    int64
 7   oosr_lower_secondary_age_male            202 non-null    int64
 8   oosr_lower_secondary_age_female          202 non-null    int64
 9   oosr_upper_secondary_age_male            202 non-null    int64
 10  oosr_upper_secondary_age_female          202 non-null    int64
 11  completion_rate_primary_male             202 non-null    int64
 12  completion_rate_primary_female           202 non-null    int64
 13  completion_rate_lower_secondary_male     202 non-null    int64
 14  completion_rate_lower_secondary_female   202 non-null    int64
 15  completion_rate_upper_secondary_male     202 non-null    int64
 16  completion_rate_upper_secondary_female   202 non-null    int64
 17  grade_2_3_proficiency_reading            202 non-null    int64
 18  grade_2_3_proficiency_math               202 non-null    int64
 19  primary_end_proficiency_reading          202 non-null    int64
 20  primary_end_proficiency_math             202 non-null    int64
 21  lower_secondary_end_proficiency_reading  202 non-null    int64
 22  lower_secondary_end_proficiency_math     202 non-null    int64
 23  youth_15_24_literacy_rate_male           202 non-null    int64
 24  youth_15_24_literacy_rate_female         202 non-null    int64
 25  birth_rate                               202 non-null    float64
 26  gross_primary_education_enrollment       202 non-null    float64
 27  gross_tertiary_education_enrollment      202 non-null    float64
 28  unemployment_rate                        202 non-null    float64
dtypes: float64(6), int64(22), object(1)
memory usage: 45.9+ KB

,latitude,longitude,oosr_pre0primary_age_male,oosr_pre0primary_age_female,oosr_primary_age_male,oosr_primary_age_female,oosr_lower_secondary_age_male,oosr_lower_secondary_age_female,oosr_upper_secondary_age_male,oosr_upper_secondary_age_female,...,primary_end_proficiency_reading,primary_end_proficiency_math,lower_secondary_end_proficiency_reading,lower_secondary_end_proficiency_math,youth_15_24_literacy_rate_male,youth_15_24_literacy_rate_female,birth_rate,gross_primary_education_enrollment,gross_tertiary_education_enrollment,unemployment_rate
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,...,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,25.081422,55.166928,19.658416,19.282178,5.282178,5.569307,8.707921,8.831683,20.292079,19.975248,...,10.717822,10.376238,25.787129,24.450495,35.801980,35.084158,18.914010,94.942574,34.392574,6.000000
std,16.813639,45.976287,25.007604,25.171147,9.396442,10.383092,13.258203,14.724717,21.485592,23.140376,...,24.866101,22.484423,33.181384,31.965467,45.535186,45.249643,10.828184,29.769338,29.978206,5.273136
min,0.023559,0.824782,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,11.685062,18.665678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.355000,97.200000,9.000000,2.302500
50%,21.207861,43.518091,9.000000,7.000000,1.000000,1.000000,2.000000,2.000000,15.000000,12.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.550000,101.850000,24.850000,4.585000
75%,39.901792,77.684945,31.000000,30.000000,6.000000,6.750000,12.750000,10.750000,32.750000,30.000000,...,0.000000,0.000000,56.750000,50.750000,94.000000,96.750000,27.692500,107.300000,59.975000,8.655000
max,64.963051,178.065032,96.000000,96.000000,58.000000,67.000000,61.000000,70.000000,84.000000,89.000000,...,99.000000,89.000000,89.000000,94.000000,100.000000,100.000000,46.080000,142.500000,136.600000,28.180000